<html>
	<head>
		<title>Events App</title>
		<link rel ="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel ="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="calendar alternate outline icon"></i>Event Manager</div>
				<a href="/events" class="item">All Events</a>
				<a href="/myevents" class="item">My Events</a>
				<a href="/events/new" class="item">Create Event</a>
				<a href="/rso" class="item">RSOs</a>
				<a href="/rso/new" class="item">Create RSO</a>
				
			</div>
		</div>
